In [33]:
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.externals import *
from sklearn import tree

In [34]:
# Converting the csv file to a pandas dataframe
music_df = pd.read_csv('music.csv')
music_df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [35]:
# Visualizing the dataFrame
music_df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [36]:
music_df.isnull()

      age  gender  genre
0   False   False  False
1   False   False  False
2   False   False  False
3   False   False  False
4   False   False  False
5   False   False  False
6   False   False  False
7   False   False  False
8   False   False  False
9   False   False  False
10  False   False  False
11  False   False  False
12  False   False  False
13  False   False  False
14  False   False  False
15  False   False  False
16  False   False  False
17  False   False  False

In [37]:
music_df.duplicated().sum()

0

In [38]:
# Dropping the Genre column
X = music_df.drop(columns='genre')
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [39]:
# Inspecting the genre column
y = music_df['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

## Building A ML Model

In [40]:
# Splitting the dataset for training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [41]:
MusicModel = DecisionTreeClassifier()
MusicModel.fit(X_train, y_train)
joblib.dump(MusicModel, 'Music_identifier.joblib')
Predictions = MusicModel.predict(X_test)
Predictions

array(['Jazz', 'Classical', 'Dance', 'Classical'], dtype=object)

In [42]:
# Persisting a model
joblib.load('Music_identifier.joblib')
Predictions2 = MusicModel.predict([[21, 1], [33, 0]])
print(Predictions2)

['HipHop' 'Classical']

C:\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

## Measuring The Accuracy of A Model

In [43]:
accuracy_score(y_test, Predictions)

0.5

## Visualizing A Decision Tree

In [44]:
tree.export_graphviz(MusicModel, out_file='Music_identifier.dot', feature_names=['age', 'gender'],
                     class_names=sorted(y.unique()), label='all', rounded=True, filled=True)